@font-face {
    font-family: Selawik;
    src: url(fonts/selawik/selawk.ttf);
}

:root {
    --body: rgb(172, 146, 197);
    --accent: rgb(201, 177, 40);
}

body {
    background-color: var(--body);
    color: #222;
    font-family: Selawik;
    margin: 0;
}

select, button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

select:hover, button:hover {
    background-color: #ddd;
}

label {
    font-size: 1.5rem;
}

.header {
    align-items: center;
    background-color: rgb(93, 66, 117);
    display: flex;
    height: 15vh;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.header h1 {
    color: var(--accent);
    margin: 0;
}

.header img {
    height: 70%;
}

.mainContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    width: 80%;
}

.menuContainer {
    align-items: center;
    display: flex;
}

.menu {
    background-color: rgb(206, 184, 226);;
    border-radius: 10px;
    height: 80%;
    padding: 1.5rem;
}

.menu * {
    color: #222;
    display: block;
    font-size: 1.5rem;
    margin: 2rem;
}

.menu button {
    margin-top: 4rem;
}

#sketchPad {
    background-color: white;
    border: 10px var(--accent) solid;
    display: grid;
    height: 600px;
    width: 600px;
}

.size16 {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.size32 {
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
}

.size48 {
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(48, 1fr);
}

.size64 {
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
}

#sketchPad div:hover {
    background-color: #eee;
}

.drawBlack {
    background-color: black;
}